<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script th:src="@{/js/jw/jwplayer.js}"></script>-->

    <script th:src="@{/js/jquery-3.2.1.js}"></script>
</head>
<body>
    <div id="player">Loading the player...</div>
    <button type="button" onclick="changeUrl('https://www.jobstv24.com/liveedge/live34/playlist.m3u8?site=yjtv&ch=live34&pm=P&wowzatokenstarttime=1650697529&wowzatokenendtime=1650708329&wowzatokenCustomParameter=live34&wowzatokenhash=z7xhxEO8m5PNqDG0FRHvL0zBGowr82kmeQK9AjGjOlw=');">YTN</button>
    <button type="button" onclick="changeUrl('https://www.mvptv24.com/liveedge/live07/playlist.m3u8?site=yjtv&ch=live07&pm=P&wowzatokenstarttime=1650696870&wowzatokenendtime=1650707670&wowzatokenCustomParameter=live07&wowzatokenhash=5f_Bg2709pswqFFVnO2XFiHczbXkswjTZIYvnD28-qM=');">MBC</button>
    <script src="https://cdn.jwplayer.com/libraries/If8OwvrW.js"></script>
    <script>jwplayer.key='iiL9xxalkP7di2nLZ3tPLw0NLBCHdHBe8i3QDQ==';</script>
    <script>
        var jsConfig = {
            sources: [{
                file: 'https://www.mvptv24.com/liveedge/live07/playlist.m3u8?site=yjtv&ch=live07&pm=P&wowzatokenstarttime=1650696870&wowzatokenendtime=1650707670&wowzatokenCustomParameter=live07&wowzatokenhash=5f_Bg2709pswqFFVnO2XFiHczbXkswjTZIYvnD28-qM=',
            }],
            width: "100%",
            // image: "../../assets/images/background.jpg?0.000036",
            stretching: "exactfit",
            primary: "flash",
            hlshtml: true,
            aspectratio: "16:12",
            autostart: true
        }

        function changeUrl(data) {
            jsConfig = {
                sources: [{
                    file: data,
                }],
                width: "100%",
                // image: "../../assets/images/background.jpg?0.000036",
                stretching: "exactfit",
                primary: "flash",
                hlshtml: true,
                aspectratio: "16:12",
                autostart: true
            }

            var player = jwplayer("player");
            player.setup(jsConfig).on("ready", function () {
                if ($(window.parent.document).find("#player" + "1").length !== 0) {
                    $(window.parent.document).find("#player" + "1").closest(".stream_box").height(document.body.scrollHeight);
                }
            }).on("error", function (event) {
                if (event.message === "Error loading media: File could not be played" || event.message === "Cannot load M3U8: You do not have permission to access this content") {
                    $(".jw-title .jw-title-primary").text("★로그인 또는 새로고침을 해주세요.★").css({
                        "text-align": "center",
                        "font-size": "30px"
                    })
                }
            });
        }

        (function ($) {
//        $.support.cors = true;
            $(document).ready(function () {
                var player = jwplayer("player");
                player.setup(jsConfig).on("ready", function () {
                    if ($(window.parent.document).find("#player" + "1").length !== 0) {
                        $(window.parent.document).find("#player" + "1").closest(".stream_box").height(document.body.scrollHeight);
                    }
                }).on("error", function (event) {
                    if (event.message === "Error loading media: File could not be played" || event.message === "Cannot load M3U8: You do not have permission to access this content") {
                        $(".jw-title .jw-title-primary").text("★로그인 또는 새로고침을 해주세요.★").css({
                            "text-align": "center",
                            "font-size": "30px"
                        })
                    }
                });
            });
        })(jQuery);
    </script>
</body>
</html>