<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script th:src="@{/js/jw/jwplayer.js}"></script>-->

    <script th:src="@{/js/jquery-3.2.1.js}"></script>
</head>
<body>
    <div id="player">Loading the player...</div>
    <button type="button" onclick="changeUrl('https://tvn-seezn.pip.cjenm.com/tvn/_definst_/s5/playlist.m3u8?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjI4OTQ5OTUsInBhdGgiOiIvdHZuL19kZWZpbnN0Xy9zNSIsInVubyI6IjE2MjI4OTQ2OTU0MzQzNTU1NSIsImlhdCI6MTYyMjg5NDY5NX0.uTI9slMSRoAbTQ0zGWoEWepnugD9iC-LumyD4dUMJSE');">TVN</button>
    <button type="button" onclick="changeUrl('http://tvlive.sbs.co.kr/sbsch6/sbsch62.stream/playlist.m3u8?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NTA4NzI5NzksInBhdGgiOiIvc2JzY2g2Mi5zdHJlYW0iLCJkdXJhdGlvbiI6LTEsInVubyI6ImVmZWJkOTZkLWQ5MzUtNGEyZC1hNGVkLTcxZWM4OWY1N2IxMiIsImlhdCI6MTY1MDg2NTc3OX0.sevcvO1atrqjv3BEZu1owUfc1n16c_j70-yzSheV6wc');">SBS</button>
    <button type="button" onclick="changeUrl('http://61.82.49.4:1935/live/_definst_/tv.stream/chunklist_w432889607.m3u8');">SBS-G1</button>
    <button type="button" onclick="changeUrl('http://vod.mpmbc.co.kr:1935/live/encoder-tv/chunklist_w183467447.m3u8');">MBC</button>
    <button type="button" onclick="changeUrl('https://1tvhd.gscdn.kbs.co.kr/1tv-01/1tv-01_hd.m3u8?Expires=1655908093&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly8xdHZoZC5nc2Nkbi5rYnMuY28ua3IvMXR2LTAxLzF0di0wMV9oZC5tM3U4IiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjU1OTA4MDkzfX19XX0_&Signature=Hh0A2KCCqk1QspSqFf-ZMJGF3jmSDL8S9Ux3UBlWkUsYC4yLp5X8LXsZTGVzicCOmDYZym7oEclNXHiiYf5nQwDaBTuQPqLRnoL7~MOqMOo9CJ0JcuTCEMg~aRI59aq2BBZCjCH6SRGEXIiXhFx1JGfRWWYXnVDkhH46RfPc4s8ckPf3HPw9Oz3AVyA1hxsrpefpd3QydfmCrT8hyx9ivX5~Foarx6FD8~~mDBfsyzBF3RRSSG4OaE7vqmgI4sA0XfiO6Fs~rI4TLt1nJMos2r1JsTi54FMeyDZ5baH3WYcVslXQKLPi9ZYh~awaPLJ9b1TslouU90oQfjKYx90IZw__&Key-Pair-Id=APKAICDSGT3Y7IXGJ3TA');">KBS1</button>
    <button type="button" onclick="changeUrl('https://2tvhd.gscdn.kbs.co.kr/2tv-01/2tv-01_hd.m3u8?Expires=1655182386&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly8ydHZoZC5nc2Nkbi5rYnMuY28ua3IvMnR2LTAxLzJ0di0wMV9oZC5tM3U4IiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjU1MTgyMzg2fX19XX0_&Signature=LqyJZQGZmTAL8B24XSnxIo0M-oYOvSWZirg6~cfz6pVuCHSMoa-tDGfnkhngicaQipNzapZui40rf45qdcTnMxCnf2PVulFnByXgqQ2wJ09am6c0M77Om5577KNYD8Zb-W-8Nlx-lN0EnWQaVVRgCJfxASER2W1geFBqGg69vnquzne6xq31Sv~sVFIpx-OfxsFUAewooKbJmA1V59oh6raQCO-Yc7wZ~vzigj7PozTa~vgkBI~yC4oS-KnnDaxC9vutrGaemG09eCqsCjFu8dr29jW9W32lQ3CDSoM0wISNYxQqOppro5OEq12wRCi8Wox6ybjAFxH~pB-6VL~UEw__&Key-Pair-Id=APKAICDSGT3Y7IXGJ3TA');">KBS2</button>
    <button type="button" onclick="changeUrl('http://ebsonair.ebs.co.kr/ebs1familypc/familypc1m/playlist.m3u8');">EBS1</button>
    <button type="button" onclick="changeUrl('http://ebsonair.ebs.co.kr:1935/ebs2familypc/familypc1m/playlist.m3u8');">EBS2</button>
    <button type="button" onclick="changeUrl('http://slive.sciencetv.kr:1935/science/yslive_20140419_1/playlist.m3u8');">YTN-SCIENCE</button>
    <script src="https://cdn.jwplayer.com/libraries/If8OwvrW.js"></script>
    <script>jwplayer.key='iiL9xxalkP7di2nLZ3tPLw0NLBCHdHBe8i3QDQ==';</script>
    <script>
        var jsConfig = {
            sources: [{
                file: 'https://tvn-seezn.pip.cjenm.com/tvn/_definst_/s5/playlist.m3u8?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjI4OTQ5OTUsInBhdGgiOiIvdHZuL19kZWZpbnN0Xy9zNSIsInVubyI6IjE2MjI4OTQ2OTU0MzQzNTU1NSIsImlhdCI6MTYyMjg5NDY5NX0.uTI9slMSRoAbTQ0zGWoEWepnugD9iC-LumyD4dUMJSE',
                type: "application/vnd.apple.mpegurl"
            }],
            width: "100%",
            // image: "../../assets/images/background.jpg?0.000036",
            stretching: "exactfit",
            primary: "flash",
            hlshtml: true,
            aspectratio: "16:12",
            autostart: true
        }

        function changeUrl(data) {
            jsConfig = {
                sources: [{
                    file: data,
                    type: "application/vnd.apple.mpegurl"
                }],
                width: "100%",
                // image: "../../assets/images/background.jpg?0.000036",
                stretching: "exactfit",
                primary: "flash",
                hlshtml: true,
                aspectratio: "16:12",
                autostart: true
            }

            var player = jwplayer("player");
            player.setup(jsConfig).on("ready", function () {
                if ($(window.parent.document).find("#player" + "1").length !== 0) {
                    $(window.parent.document).find("#player" + "1").closest(".stream_box").height(document.body.scrollHeight);
                }
            }).on("error", function (event) {
                if (event.message === "Error loading media: File could not be played" || event.message === "Cannot load M3U8: You do not have permission to access this content") {
                    $(".jw-title .jw-title-primary").text("★로그인 또는 새로고침을 해주세요.★").css({
                        "text-align": "center",
                        "font-size": "30px"
                    })
                }
            });
        }

        (function ($) {
//        $.support.cors = true;
            $(document).ready(function () {
                var player = jwplayer("player");
                player.setup(jsConfig).on("ready", function () {
                    if ($(window.parent.document).find("#player" + "1").length !== 0) {
                        $(window.parent.document).find("#player" + "1").closest(".stream_box").height(document.body.scrollHeight);
                    }
                }).on("error", function (event) {
                    if (event.message === "Error loading media: File could not be played" || event.message === "Cannot load M3U8: You do not have permission to access this content") {
                        $(".jw-title .jw-title-primary").text("★로그인 또는 새로고침을 해주세요.★").css({
                            "text-align": "center",
                            "font-size": "30px"
                        })
                    }
                });
            });
        })(jQuery);
    </script>
</body>
</html>