<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vod 테스트입니다.</title>
    <script th:src="@{/js/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/x-frame-bypass.js}" type="module"></script>
</head>
<body>
<div>
    <p>테스트입니다.</p>
<!--    <iframe src="https://dicecake.com/humor.php?url=aHR0cHM6Ly9ocXBsdXMudmlkZ3JvdW5kLmNvbS93YXRjaC81YWVKaW9VdFNHdQ==" width="100%" height="700" frameborder="0" scrolling="no" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" name="video_player" id="video_player4" style="width:750px !important;height:441.1764705882353px !important;"></iframe>-->
    <p>테스트입니다.2</p>
<!--    <iframe src="https://dicecake.com/effort.php?url=aHR0cHM6Ly9ocXBsdXMudmlkZ3JvdW5kLmNvbS93YXRjaC82ZnpKVGtXbjRveQ==" width="100%" height="430" frameborder="0" scrolling="no" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" name="video_player" id="video_player1" style="width:750px !important;height:441.1764705882353px !important;"></iframe>-->
    <p>테스트입니다.3</p>
<!--    <iframe src="https://dicecake.com/glory.php?url=aHR0cHM6Ly9ocXBsdXMudmlkZ3JvdW5kLmNvbS93YXRjaC9LMWhQd2ZlY3RsdQ==" width="100%" height="430" frameborder="0" scrolling="no" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" name="video_player" id="video_player2" style="width:750px !important;height:441.1764705882353px !important;"></iframe>-->
    <p>테스트5555</p>
<!--    <iframe src="https://player4.studiouniversal.net/video/l6voYDlS68qefAy" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0" allowtransparency="true" allowfullscreen="true" loading="lazy" iframe=""></iframe>-->
    <p>tv 데모1</p>
    <iframe id="movie-iframe" allowfullscreen="" frameborder="0" src="https://vlp.77player.xyz/public/index.html?key=d2c69edb453d91167bc962882d36bf6c&amp;b=9193491" sub_src="https://vlp.77player.xyz/public/index.html?key=d2c69edb453d91167bc962882d36bf6c&amp;b=9193491" width="100%" height="390" scrolling="no"></iframe>
    <p>tv 데모2</p>
    <iframe id="movie-iframe2" allowfullscreen="" frameborder="0" src="https://vlp.77player.xyz/public/index.html?key=f4b40eb76985836fe4b9190725f790d9&amp;b=9193491" sub_src="https://vlp.77player.xyz/public/index.html?key=f4b40eb76985836fe4b9190725f790d9&amp;b=9193491" width="100%" height="390" scrolling="no"></iframe>
    <p>tv 데모3</p>
    <iframe loading="lazy" rel="nofollow" class="-zzz lazyloaded" id="ifr" src="https://cdn24hr.xyz/embed/wiqzy7l/" allowfullscreen="" height="780px" data-rocket-lazyload="fitvidscompatible" data-ll-status="loaded" style="display: block; margin-left: auto; margin-right: auto; max-height: 649px; width: 1096px; height: 59.2153vw; max-width: 100%;"></iframe>
<!--    유부트 긁어오는 코드-->
<!--    https://www.youtube.com/embed/6oJEv0MS8u4 -->
    <p>test</p>
    <div>
        <iframe src="https://hopvuive.com/effort.php?url=aHR0cHM6Ly9ocXBsdXMudmlkZ3JvdW5kLmNvbS93YXRjaC9SZWhtcERsempGTQ==" width="100%" height="700" frameborder="0" scrolling="no" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" name="video_player" id="video_player4" style="width:750px !important;height:441.1764705882353px !important;"></iframe>
    </div>

</div>
</body>
</html>