<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script th:src="@{/js/jw/jwplayer.js}"></script>-->

    <script th:src="@{/js/jquery-3.2.1.js}"></script>
</head>
<body>
    <div id="player">Loading the player...</div>
    <button type="button" onclick="changeUrl('https://tvn-seezn.pip.cjenm.com/tvn/_definst_/s5/playlist.m3u8?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjI4OTQ5OTUsInBhdGgiOiIvdHZuL19kZWZpbnN0Xy9zNSIsInVubyI6IjE2MjI4OTQ2OTU0MzQzNTU1NSIsImlhdCI6MTYyMjg5NDY5NX0.uTI9slMSRoAbTQ0zGWoEWepnugD9iC-LumyD4dUMJSE');">TVN</button>
    <button type="button" onclick="changeUrl('http://tvlive.sbs.co.kr/sbsch6/sbsch62.stream/playlist.m3u8?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NTA4NzI5NzksInBhdGgiOiIvc2JzY2g2Mi5zdHJlYW0iLCJkdXJhdGlvbiI6LTEsInVubyI6ImVmZWJkOTZkLWQ5MzUtNGEyZC1hNGVkLTcxZWM4OWY1N2IxMiIsImlhdCI6MTY1MDg2NTc3OX0.sevcvO1atrqjv3BEZu1owUfc1n16c_j70-yzSheV6wc');">SBS</button>
    <button type="button" onclick="changeUrl('http://61.82.49.4:1935/live/_definst_/tv.stream/chunklist_w432889607.m3u8');">SBS-G1</button>
    <button type="button" onclick="changeUrl('http://vod.mpmbc.co.kr:1935/live/encoder-tv/chunklist_w183467447.m3u8');">MBC</button>
    <button type="button" onclick="changeUrl('https://1tvhd.gscdn.kbs.co.kr/1tv-01/1tv-01_hd.m3u8?Expires=1651038320&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly8xdHZoZC5nc2Nkbi5rYnMuY28ua3IvMXR2LTAxLzF0di0wMV9oZC5tM3U4IiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjUxMDM4MzIwfX19XX0_&Signature=YnHQ9RVjRD3oWop8lfnGTpkqCaJAorQUWe4rs894w0PGX~oj~VKWyaSiV~d-ejipztbpVSf~5lY3i9esnVVvNrJ~a~X~gO1CFWq-kDx0AIaPryViNoCPTkg2IQ-3rFGavqRgiS9MdsUX5gV9EJ7v6Y16~sM6ClqZfX3j66Upj8LTsqkLx2UOUMrl0SEesDI0HZUVe6Zoaz7ARtwj1yHrq9HHuOWchnuIwRGYHAh1WKCQGNSCpjsPr00H5TEdJXA0RLdhgUVd1yqX~NrKZvXjEUDz7imKrIwPUlnn6OS60P-OHhH8q3SjTb27WfiOlwEVQH9e2KMCtK6SluyO6RAKDA__&Key-Pair-Id=APKAICDSGT3Y7IXGJ3TA');">KBS1</button>
    <button type="button" onclick="changeUrl('https://2tvhd.gscdn.kbs.co.kr/2tv-01/2tv-01_hd.m3u8?Expires=1651038444&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly8ydHZoZC5nc2Nkbi5rYnMuY28ua3IvMnR2LTAxLzJ0di0wMV9oZC5tM3U4IiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjUxMDM4NDQ0fX19XX0_&Signature=gqc9mpfMJheX1KQok7t9igqvl8DyoR4UeJCHbclUXRF8Hw2ySXcMyekjOOGAQBETYct-NFvOv7uw8Usn5zD3OcnIa-bbTvxmsF7BFmArjaJ68PAoONKo1ZI1MFNzjjnynzNqLn5WoXAsNwaLO65Wwqnq-emTjFHxkPEawteGOwEPyl~wQxou7KEaUpPTCCcuYSFYUOnbwMX5VjKV9ANFWiYzFG~Gc-c2ZSW0gAwFG-nI5t0fgcayul3uxr08KeIcAJqBYOJu1YR1SlOi~~8ofgtK8qgHe5x-H-JiSEFLDpwG5WOR-wVGeu9jp5i2J33KaQTrlzuNFz804pYi0df5pw__&Key-Pair-Id=APKAICDSGT3Y7IXGJ3TA');">KBS2</button>
    <button type="button" onclick="changeUrl('http://ebsonair.ebs.co.kr/ebs1familypc/familypc1m/playlist.m3u8?checkedby:iptvcat.com');">EBS1</button>
    <button type="button" onclick="changeUrl('http://ebsonair.ebs.co.kr:1935/ebs2familypc/familypc1m/playlist.m3u8');">EBS2</button>
    <button type="button" onclick="changeUrl('http://slive.sciencetv.kr:1935/science/yslive_20140419_1/playlist.m3u8');">YTN-SCIENCE</button>
    <button>테스트 입니다.</button>
    <script src="https://cdn.jwplayer.com/libraries/If8OwvrW.js"></script>
    <script>jwplayer.key='iiL9xxalkP7di2nLZ3tPLw0NLBCHdHBe8i3QDQ==';</script>
    <script>
        var jsConfig = {
            sources: [{
                file: 'https://tvn-seezn.pip.cjenm.com/tvn/_definst_/s5/playlist.m3u8?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjI4OTQ5OTUsInBhdGgiOiIvdHZuL19kZWZpbnN0Xy9zNSIsInVubyI6IjE2MjI4OTQ2OTU0MzQzNTU1NSIsImlhdCI6MTYyMjg5NDY5NX0.uTI9slMSRoAbTQ0zGWoEWepnugD9iC-LumyD4dUMJSE',
                type: "application/vnd.apple.mpegurl"
            }],
            width: "100%",
            // image: "../../assets/images/background.jpg?0.000036",
            stretching: "exactfit",
            primary: "flash",
            hlshtml: true,
            aspectratio: "16:12",
            autostart: true
        }

        function changeUrl(data) {
            jsConfig = {
                sources: [{
                    file: data,
                    type: "application/vnd.apple.mpegurl"
                }],
                width: "100%",
                // image: "../../assets/images/background.jpg?0.000036",
                stretching: "exactfit",
                primary: "flash",
                hlshtml: true,
                aspectratio: "16:12",
                autostart: true
            }

            var player = jwplayer("player");
            player.setup(jsConfig).on("ready", function () {
                if ($(window.parent.document).find("#player" + "1").length !== 0) {
                    $(window.parent.document).find("#player" + "1").closest(".stream_box").height(document.body.scrollHeight);
                }
            }).on("error", function (event) {
                if (event.message === "Error loading media: File could not be played" || event.message === "Cannot load M3U8: You do not have permission to access this content") {
                    $(".jw-title .jw-title-primary").text("★로그인 또는 새로고침을 해주세요.★").css({
                        "text-align": "center",
                        "font-size": "30px"
                    })
                }
            });
        }

        (function ($) {
//        $.support.cors = true;
            $(document).ready(function () {
                var player = jwplayer("player");
                player.setup(jsConfig).on("ready", function () {
                    if ($(window.parent.document).find("#player" + "1").length !== 0) {
                        $(window.parent.document).find("#player" + "1").closest(".stream_box").height(document.body.scrollHeight);
                    }
                }).on("error", function (event) {
                    if (event.message === "Error loading media: File could not be played" || event.message === "Cannot load M3U8: You do not have permission to access this content") {
                        $(".jw-title .jw-title-primary").text("★로그인 또는 새로고침을 해주세요.★").css({
                            "text-align": "center",
                            "font-size": "30px"
                        })
                    }
                });
            });
        })(jQuery);
    </script>
</body>
</html>